@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html5>
<html lang="eng">
<head>
    <meta charset="utf-8" />
    <title>none</title>
    <script src="http://oion935wi.bkt.clouddn.com/jquery-1.6.4.min.js"></script>
    <script src="http://oion935wi.bkt.clouddn.com/jquery.signalR-2.2.1.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="~/signalr/hubs"></script>

    <style>
        body {
            background-image: url("http://ohe5u4k9s.bkt.clouddn.com/bg.jpg");
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
            font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
            color: #333333;
            background-color: #ffffff;
        }

        div {
            border-radius: 5%;
        }
    </style>
</head>
<body>
    <div class="span8" style="width:100%">
        <table class="table table-bordered" id="Main-Table" >
            <tr>
                <td>server_code</td>
                <td>server_name</td>
                <td>ip_address</td>
                <td>subnet_mask</td>
                <td>watchdog_name</td>
                @*<td>watchdog_status</td>*@
                <td>lane_apps</td>
            </tr>
        </table>
    </div>


    <script type="text/javascript">

        $.connection.hub.qs = { Type: "Broswer", Name: "Broswer" };

        var proxy = $.connection.messageHub;
        $.connection.hub.start(function () {

        });

        proxy.client.GetServerList = function (datas) {
            var objs = JSON.parse(datas);
            $("#Main-Table  tr:not(:first)").empty("");
            for (var i = 0; i < objs.length; i++) {

                var apps = JSON.stringify(objs[i].lane_apps);

                $('#Main-Table').append(
                    "<tr><td>" + objs[i].server_code
                    + "</td><td>" + objs[i].server_name
                    + "</td><td>" + objs[i].ip_address
                    + "</td><td>" + objs[i].subnet_mask
                    + "</td><td>" + objs[i].watchdog_name
                    //+ "</td><td>" + objs[i].watchdog_status
                    + "</td><td style='height:200px;width: 800px; display: inline - block; overflow: auto; float: right; word-wrap:break-word;word-break:break-all'>" + apps 
                    + "</td></tr>"

                );
            }

        }






    </script>
</body>
</html>

